@media (min-width: 1024px) {
  i.fa-bars {
    display: none;
  }

  ul li a:hover {
    color: #2476ff;
  }

  .price-box:hover {
    box-shadow: 0px 10px 20px 0px #00000026;
  }

  a:hover {
    color: #2476ff;
  }

  a p:hover {
    color: #2476ff;
  }

  #asana,
  #calendar,
  #weave {
    animation: logoicon1 2s;
  }

  #google,
  #attlasian {
    animation: logoicon2 2s;
  }

  #googleAds,
  #paypal {
    animation: logoicon3 2s;
  }

  button:hover {
    color: #2476ff;
    background-color: white;
    outline: 1px solid #2476ff;
    transition: 1s ease;
  }
}

@keyframes logoicon1 {
  from {
    translate: 150vw 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes logoicon2 {
  from {
    transform: translateY(-110vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes logoicon3 {
  from {
    transform: translateY(110vh);
  }

  to {
    transform: translateY(0);
  }
}

/* -------------------------------------------------- */
/* --------------RESPONSIVE CONTENT------------------ */
/* -------------------------------------------------- */

@media (max-width: 1023px) {
  body {
    max-width: 1023px;
  }

  .nav-menu {
    display: none;
  }

  #hero-section {
    flex-direction: column;
    height: 664px;
    align-items: center;
    /* background-image: url(../assets/bg/background-top.svg); */
    background-size: 100vw 417px;
    background-repeat: no-repeat;
  }

  .cta-column {
    width: 100%;
    height: 305px;
    align-items: center;
    justify-content: start;
    background: none;
    /* padding-bottom: 60px; */
  }

  .title-column {
    align-items: center;
  }

  .logo-column {
    width: 69.5%;
  }

  #asana {
    top: 0;
    left: 533px;
  }

  #google {
    top: 0;
    left: 110px;
  }

  #attlasian {
    top: 0;
    left: 287px;
  }

  #paypal {
    top: 99px;
    left: 112px;
  }

  #weave {
    top: 99px;
    left: 414px;
  }

  #googleAds {
    top: 209px;
    left: 230px;
  }

  #calendar {
    top: 229px;
    left: 517px;
  }

  .plans {
    flex-direction: column;
    align-items: center;
    max-width: 91.4%;
    height: fit-content;
  }

  .price-box {
    width: calc(100% - 80px);
  }

  .info {
    align-items: center;
    width: 88%;
  }

  .feature-box {
    width: calc(100% - 80px);
    align-items: center;
  }

  .feature-row,
  .item-inner *:not(:first-child),
  .info hr,
  .info p,
  .action {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }

  #hire-us {
    flex-direction: column;
  }

  .hire-column {
    flex-direction: row;
    justify-content: space-evenly;
    width: 91.5%;
  }

  #hire-us .contact {
    width: calc(91.5% - 30px);
  }

  form {
    width: 91.5%;
  }

  .form-content {
    width: 100%;
  }

  label {
    width: 100%;
  }

  .frame15 {
    flex-wrap: wrap;
    gap: 0;
  }

  div.footer-column {
    margin: 20px;
  }
}

@media (max-width: 767px) {
  .logo-column {
    width: 100%;
    margin: 0 16px;
  }

  #google {
    top: 0px;
    left: 0%;
  }

  #asana {
    top: 0px;
    left: 68.89%;
  }

  #calendar {
    top: 219px;
    left: 66.39%;
  }

  #weave {
    top: 99px;
    left: 51.11%;
  }

  #paypal {
    top: 99px;
    left: 0%;
  }

  #attlasian {
    top: 0px;
    left: 40%;
  }

  #googleAds {
    top: 209px;
    left: 29.44%;
  }

  #whyFrontSection {
    height: fit-content;
  }

  #whyFrontSection .features {
    flex-direction: column;
    height: fit-content;
    justify-content: start;
    align-items: start;
    align-self: start;
  }

  .feature {
    flex-direction: row;
  }

  .bullet-left-two,
  .bullet-left-one,
  .bullet-right-two,
  .bullet-right-one {
    display: none;
    position: absolute;
  }

  .feature-box {
    height: fit-content;
  }

  .feature-row {
    flex-direction: column;
    height: fit-content;
  }

  div.item {
    width: 100%;
  }

  .hire-column {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .hire-column * {
    align-items: center;
    text-align: center;
  }

  .hire-column-header hr {
    flex-grow: 1;
    width: 100%;
  }

  .name,
  .dropdowns {
    flex-direction: column;
    height: fit-content;
  }

  input {
    height: 44px;
  }

  .dropdowns * {
    width: 100%;
  }

  footer * {
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    height: fit-content;
    width: fit-content;
  }

  div.footer-content {
    flex-direction: column;
  }

  div.footer-column {
    width: fit-content;
    height: fit-content;
    gap: 0;
  }

  .frame15 {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
