@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: auto;
  /* width: 1024px; */
}

a {
  text-decoration: none;
  color: #677788;
}
/* ----------------*/
/* HEADER Section */
/*--------------- */
/* #region Styles */

header {
  display: flex;
  justify-content: space-between;
  height: 86px;
  padding: 10px 30px;
}

.main-logo {
  width: 154.9px;
  height: 46.1px;
  gap: 10px;
}

.nav-menu {
  display: flex;
  width: 471px;
  height: 57px;
  padding: 6px 14px;
  gap: 30px;
  align-items: center;
}

.main-nav {
  display: flex;
  width: 311px;
  height: 17px;
  gap: 20px;
  /* font-family: inter; */
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #677788;
  list-style: none;
}

.main-nav li a {
  height: 17px;
  color: #677788;
  text-decoration: none;
}

/* #main-nav-button {
  display: flex;
  background-color: #2476ff;
  width: 102px;
  height: 45px;
  border-radius: 30px;
  padding: 15px 25px;
  gap: 20px;
  text-align: center;
  font-family: inter;
  font-weight: 700;
  font-size: 12px;
  color: white;
  justify-content: center;
  align-items: center;
  border: none;
  line-height: 100%;
} */

button {
  /* font-family: inter; */
  padding: 15px 25px;
  border-radius: 30px;
  background-color: #2476ff;
  color: white;
  line-height: 100%;
  border: none;
  letter-spacing: 0;
}

#main-nav-button {
  width: 102px;
  height: 45px;
  font-weight: 700;
  font-size: 12px;
  gap: 20px;
}
/* #endregion */

/* ----------------*/
/* HERO Section */
/*--------------- */
/* #region Styles */

#hero-section {
  display: flex;
  /* height: 446px; */
  padding: 40px 30px 0 30px;
  background-image: url(../assets/bg/background-top.svg);
  justify-content: space-evenly;
}

.cta-column {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%;
  height: 100%; */
  width: 482px;
  height: 406px;
  /* padding-bottom: 60px; */
  gap: 30px;
}

.title-column {
  display: flex;
  flex-direction: column;
  /* width: 334px; */
  /* height: 172px; */
  gap: 11px;
}

h1 {
  /* width: 334px; */
  /* height: 144px; */
  font-family: inter;
  font-size: 40px;
  font-weight: 500;
  color: #000;
  margin: 0;
}

p {
  /* width: 334px; */
  /* height: 17px; */
  font-family: inter;
  font-weight: 500;
  font-size: 14px;
  color: #677788;
  margin: 0;
}

.cta-button-row {
  display: flex;
  gap: 24px;
  align-items: center;
}

button.cta-1 {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-content: space-between;
}

.logo-column {
  display: flex;
  position: relative;
  justify-content: center;
  /* width: 50%;
  height: 100%; */
  width: 482px;
  height: 406px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 80px;
  background: #ffffff;
  box-shadow: 0px 3px 13px 0px #00000040;
  border-radius: 50%;
  /* padding: 16px; */
}

.logo img {
  width: 48px;
  height: 48px;

  object-fit: contain;
}

#asana {
  top: 10px;
  left: 380px;
}

#calendar {
  top: 310px;
  left: 364px;
}

#weave {
  top: 173px;
  left: 262px;
}

#paypal {
  top: 172px;
  left: 44px;
}

#attlasian {
  top: 10px;
  left: 175px;
}

#googleAds {
  width: 60px;
  height: 60px;
  top: 290px;
  left: 155px;
  border-radius: 50%;
  /* padding: 10px; */
}

#google {
  width: 60px;
  height: 60px;
  top: 10px;
  left: 64px;
  border-radius: 50%;
  /* padding: 10px; */
}
/* #endregion */

/* ----------------- */
/* WHY Front Section */
/* ----------------- */
/* #region Styles */

#whyFrontSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 1024px; */
  height: 354px;
  gap: 40px;
  padding-right: 30px;
  padding-bottom: 80px;
  padding-left: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 89px;
  gap: 10px;
}

.title h2 {
  width: 141px;
  height: 31px;
  font-family: Inter;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

.title p {
  width: 600px;
  height: 48px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}

#whyFrontSection .features {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;
  padding: 0px 34px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* padding: 26px 0px; */
  width: fit-content;
  /* height: 145px; */
}

#whyFrontSection .bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 4px;
}

#whyFrontSection .bullet-left-one {
  width: 83px;
  height: 1px;
}

#whyFrontSection .bullet-left-two {
  width: 83px;
  height: 1px;
  background-color: #e6e9f2;
}

#whyFrontSection .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  gap: 10px;
  border-radius: 50%;
  padding: 10px;
  background: #ecf2ff;
}

#whyFrontSection .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0066ff;
}

#whyFrontSection .bullet-right-one {
  width: 83px;
  height: 1px;
  background-color: #e6e9f2;
}

#whyFrontSection .bullet-right-two {
  width: 83px;
  height: 1px;
}

.feature h3 {
  display: flex;
  justify-content: center;
}
/* #endregion */

/* ------------------------------------------------------------------- */
/* ---------------------PRICING Section------------------------------- */
/* ------------------------------------------------------------------- */
/* #region Styles */

#pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-bottom: 120px;
  gap: 60px;
}

.pricing-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  gap: 10px;
}

.pricing-title h2 {
  width: 90px;
  height: 31px;
  font-family: Inter;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

.pricing-title p {
  width: 600px;
  height: 19px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
}

.plans {
  display: flex;
  flex-wrap: nowrap;
  width: 964px;
  height: fit-content;
  gap: 30px;
}

.price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 370px;
  height: fit-content;
  gap: 50px;
  padding: 40px;
  border-width: 1px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 290px;
  height: fit-content;
  /* gap: 30px; */
}

#price-wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 114px;
  height: 61px;
  gap: 7px;
}

#price1 {
  width: 63px;
  height: 61px;
  font-family: Inter;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000;
}

#mo {
  display: flex;
  align-items: end;
  width: 44px;
  height: 33px;
  gap: 7px;
  padding-bottom: 9px;
}

#price2 {
  width: 7px;
  height: 24px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  color: #677788;
}

#price3 {
  width: 30px;
  height: 24px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

.info hr {
  width: 290px;
  height: 1px;
  gap: 10px;
  margin: 10px 0;
  background: #8d8d8d;
}

.info p {
  width: 290px;
  height: 72px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.action {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: fit-content;
  gap: 10px;
}

.funny {
  display: flex;
}

.feature-box {
  display: flex;
  flex-direction: column;
  width: 564px;
  height: fit-content;
  gap: 10px;
}

.feature-row {
  display: flex;
  width: 564px;
  height: 219px;
  gap: 10px;
}

.item {
  width: 50%;
  gap: 20px;
  border-width: 1px;
  padding: 20px;
  border: 1px solid #ffffff;
}

.item-inner {
  /* width: 237px; */
  height: 179px;
  gap: 20px;
}

.icon {
  width: 50px;
  height: 50px;
}

/* .item-title {
  width: 564px;
  height: 201px;
  gap: 10px;
} */

.item-title h3 {
  /* width: 224px; */
  height: 22px;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.item-inner p {
  /* width: 237px; */
  height: 66px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
}

h3 span {
  width: 60px;
  /* height: 23px; */
  /* padding-top: 4px; */
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 5px;
  gap: 10px;
  border-radius: 15px;
  background: #01c9a7;
}

h3 span span {
  width: 40px;
  /* height: 15px; */
  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  color: #ffffff;
}
/* #endregion */

/* ----------------
 Hire Us Section 
 --------------- */
/* #region Styles */

#hire-us {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  height: fit-content;
  padding-top: 30px;

  background-color: #20335b;
}

.hire-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex: 1 2; */
  width: fit-content;
  /* padding-left: 70px; */
  margin-left: 70px;
  gap: 60px;
}

.hire-column-top {
  display: flex;
  flex-direction: column;
  width: 370px;
  gap: 32px;
}

.hire-column-header {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.hire-column-header-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hire-column-header-title h2 {
  font-family: Inter;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0;
  /* text-align: center; */
  color: #ffffff;
}

.hire-column-top p {
  width: 363px;
  height: 48px;

  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #ffffff;
}

.hire-column-header-title p {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #677788;
}

.hire-column-header hr {
  height: 1px;
  background-color: #ffffff;
  margin: 0;
  border: none;
}

.hire-column-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hire-column-bottom-person {
  display: flex;
  flex-direction: column;
  width: 208px;
  height: 43px;
  gap: 4px;
  padding-right: 20px;
}

.hire-column-bottom-person h3 {
  width: fit-content;
  height: fit-content;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 100px; */
  letter-spacing: 0;
  color: #fff;
  margin: 0;
}

.hire-column-bottom-person p {
  /* width: 188px; */
  height: 17px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #677788;
}

.hire-column-bottom-person-img {
  width: 60px;
  height: 60px;
  gap: 30px;
}

.hire-column-bottom-person-img img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

#hire-us .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 30px;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 37px;
  padding: 30px;
  border-radius: 10px;
  background: #ffffff;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  gap: 20px;
}

.form-header p {
  width: fit-content;
  height: 48px;
  font-family: SF Pro;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: black;
}

.name,
.form-email,
.dropdowns {
  display: flex;
  width: 100%;
  height: 44px;
  gap: 20px;
}

.name input {
  display: flex;
  width: 100%;
  height: 44px;
  gap: 10px;
  /* padding: 10px; */
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #e6e8f2;
}

.name input::content {
  width: 100%;
  height: 24px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: #000000;
}

.form-email input {
  display: flex;
  width: 100%;
  height: 44px;
  gap: 10px;
  /* padding: 10px; */
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #e6e8f2;
}

.form-email input::content {
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: #828282;
}

.budget,
.Country {
  width: 50%;
}

select {
  width: 100%;
  height: 44px;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #e6e8f2;
}

textarea {
  display: flex;
  width: 100%;
  height: 100px;
  gap: 10px;
  padding: 0;
  border-radius: 5px;
  /* border-width: 1px; */
  border: 1px solid #e6e8f2;
}

.liability-waiver {
  display: flex;
  width: 100%;
  height: 76px;
  gap: 16px;
  border-radius: 5px;
}

.liability-waiver input {
  display: flex;
  width: 25px;
  height: 28px;
  gap: 10px;
  padding-top: 4px;
}

.liability-waiver label {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 76px;
  gap: 10px;
}
/* #endregion */

/* --------------
   Footer Section
   --------------- */
/* #region Styles */

footer {
  display: flex;
  flex-direction: column;
  height: 246px;
  gap: 40px;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.contact-area {
  display: flex;
  flex-direction: column;
  /* width: 251px; */
  height: 93.76113891601562px;
  gap: 20px;
}

.logo-footer {
  width: 100px;
  height: 29.761137008666992px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 251px;
  height: 44px;
  gap: 10px;
}

.address {
  display: flex;
  flex-direction: row;
  width: 251px;
  height: 17px;
  gap: 9px;
}

.address i {
  display: flex;
  width: 11px;
  height: 14px;
  gap: 10px;
  padding-top: 2px;
}

.address p {
  display: flex;
  width: 231px;
  height: 17px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #677788;
}

.phone {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 17px;
  gap: 9px;
}

.phone i {
  display: flex;
  width: 12px;
  height: 14px;
  gap: 10px;
  padding-top: 2px;
}

.phone p {
  display: flex;
  width: 129px;
  height: 17px;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2576ff;
}

.frame15 {
  display: flex;
  width: 100%;
  height: 166px;
  gap: 49px;
}

div.footer-column {
  width: calc(50% - 40px);
}

.company-column {
  display: flex;
  flex-direction: column;
  /* width: 110px; */
  height: 166px;
  gap: 20px;
}

.company-column h4 {
  margin: 0;
  padding: 0;
  /* width: 88px; */
  height: 21px;
  font-family: SF Pro;
  font-weight: 860;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: black;
}

.company-column ul {
  display: flex;
  flex-direction: column;
  /* width: 110px; */
  height: 125px;
  padding: 0;
  gap: 10px;
}

.company-column ul li {
  display: flex;
  /* width: 110px; */
  height: 17px;
  gap: 9px;
  text-decoration: none;
}

.company-column ul li a {
  display: flex;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
}

.company-column ul li span {
  display: flex;
  width: 55px;
  height: 14px;
  gap: 10px;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  border-radius: 3px;
  background: #2576ff;
  flex-wrap: nowrap;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.features-column {
  display: flex;
  flex-direction: column;
  /* width: 95px; */
  height: 139px;
  gap: 20px;
}

.features-column h4 {
  margin: 0;
  padding: 0;
  /* width: 88px; */
  height: 21px;
  font-family: SF Pro;
  font-weight: 860;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: black;
}

.features-column ul {
  display: flex;
  flex-direction: column;
  /* width: 110px; */
  height: 125px;
  padding: 0;
  gap: 10px;
}

.features-column ul li {
  display: flex;
  /* width: 110px; */
  height: 17px;
  gap: 9px;
  text-decoration: none;
}

.features-column ul li a {
  display: flex;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
}

.documentation-column {
  display: flex;
  flex-direction: column;
  /* width: 143px; */
  height: 166px;
  gap: 20px;
}

.documentation-column h4 {
  margin: 0;
  padding: 0;
  /* width: 88px; */
  height: 21px;
  font-family: SF Pro;
  font-weight: 860;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: black;
}

.documentation-column ul {
  display: flex;
  flex-direction: column;
  /* width: 110px; */
  height: 125px;
  padding: 0;
  gap: 10px;
}

.documentation-column ul li {
  display: flex;
  /* width: 110px; */
  height: 17px;
  gap: 9px;
  text-decoration: none;
}

.documentation-column ul li a {
  display: flex;
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
}

.Resources-column {
  display: flex;
  flex-direction: column;
  /* width: 112px; */
  height: 85px;
  /* gap: 20px; */
}

.Resources-column h4 {
  margin: 0;
  padding: 0;
  width: 88px;
  height: 21px;
  font-family: SF Pro;
  font-weight: 860;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: black;
  margin-bottom: 20px;
}

.Resources-column a {
  display: flex;
  /* width: 112px; */
  height: 17px;
  gap: 9px;
  color: #677788;
  text-decoration: none;
  margin-bottom: 20px;
}

.Resources-column a p {
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #677788;
}

ul li a {
  font-family: SF Pro;
  font-weight: 510;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #677788;
  text-decoration: none;
}
/* #endregion */
